body{
    font-family:Arial;
    background:#f1f1f1;
    margin:0;
    
}
.login-container,.sidebar{
    background: orange;
    padding: 20px;
    width:300px;
    margin:auto;
    margin-top:50px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}input,select,button{
    width;100%;
    padding:10px;
    margin-top:10px;

}.container{
    dispaly:flex;
    margin-top:20px;

}.sidebar{
    width:25%;

}.main{
    width:75%;
    dispaly:flex;
    flex-wrap:wrap;
    padding:20px;
    gap:15px;
}.card{
    width:30%;
    background: :15px;
    border-radius:10px;
    box-shadow:0 0 8px #aaa;
}button{
    cursor:pointer;

}.navbar{
    background: white;
    padding: 10px;
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0 0 5px gray;
}